/* Defatul Css */
* {
    margin:0;
    padding: 0;
}

img {
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: black;
}

ol, ul {
    list-style: none;
}

.container{
    width: 960px;
    margin: 0 auto;
}

/* header Css */

#intro {
    width: 100%;
    height: 80px;
    background-color: yellow;
}

#intro h1 {
    float: left;
    width: 50%;
    height: 80px;
    background-color: #fbfbfb;
}

#intro h1 a {
    display: block;
    padding: 22px 0 0 30px;
    font-size: 30px;
}

#intro nav {
    float: right;
    width: 50%;
    height: 80px;
    background-color: pink;
}

#intro nav ul li {
    width: 33.33333%;
    height: 80px;

    float: left;
    text-align: center;
    line-height: 80px;
}

#intro nav ul li.one {
    background-color: #efeff6;
}

#intro nav ul li.two {
    background-color: #dcdcec;
}

#intro nav ul li.three {
    background-color: #cbcae3;
}

#intro nav ul li a {
    font-size: 20px;
    font-weight: bold;
}

/* main */

#main article {
    width: 50%;
    height: 320px;
    float: left;
}

#main article a {
    width: 100%;
    height: 100%;
    display: block;
}

#main article.imageBox1 {
    background-color: #532fa1;
}

#main article.imageBox2 {
    background-color: #a44789;
}

#main article.imageBox3 {
    background-color: #3ab6bc;
}

#main article.imageBox4 {
    background-color: #daec17;
}

#main article.imageBox5 {
    background-color: #f600ef;
}

#main article.imageBox6 {
    background-color: #3be000;
}

#main article.imageBox7 {
    background-color: #ff022a;
}

#main article.imageBox8 {
    background-color: #ff8000;
}

#main article img {
    width: 100%;
}

#main article h2 {
    color: #fff;
    font-size: 25px;
    text-align: center;
    padding: 0px 0 0px 0;
}

/* 가운데 텍스트 */
#main article.text {
    width: 100%;
    height: 66px;
}

#main article.text p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
    border: solid 0px #000;
}

/* footer */

#footer {
    clear: both;
    width: 100%;
    height: 80px;
    background-color: #f9f9f9;

}

#footer .copyright {
    float : left;
    width: 50%;
}

#footer .address {
    float : right;
    width: 50%;
}

#footer .copyright p {
    font-size: 12px;
    color : #999;
    padding: 32px 0 0 40px;
    text-align: left;
}

#footer .address p {
    font-size: 12px;
    color : #999;
    padding: 32px 40px 0 0;
    text-align: right;
}

/* 애니메이션 */

#intro nav ul li a {transition: color 0.3s;}
#intro nav ul li a:hover { color: #917f7f; }

#main article.imageBox1,
#main article.imageBox2,
#main article.imageBox3,
#main article.imageBox4,
#main article.imageBox5,
#main article.imageBox6,
#main article.imageBox7,
#main article.imageBox8 {transition: background-color 0.3s;}

#main article.imageBox1:hover {background-color: #8683bd;}
#main article.imageBox2:hover {background-color: #bf7eac;}
#main article.imageBox3:hover {background-color: #75ccd0;}
#main article.imageBox4:hover {background-color: #e6ff02;}
#main article.imageBox5:hover {background-color: #ff9cf7;}
#main article.imageBox6:hover {background-color: #99ff79;}
#main article.imageBox7:hover {background-color: #ff6682;}
#main article.imageBox8:hover {background-color: #ffb66a;}

#main article img { transition: all 0.3s; }
#main article img:hover { transform: scale(1.1); }

@media (min-width: 320px) and (max-width: 600px){
    .container{
        width: 640px;
    }
    #intro{
        height: 160px;
    }
    #intro h1 {
        width: 100%;
    }
    #intro h1 a {
        text-align: center;
        padding: 22px 0 0 0;
    }
    #intro nav {
        width:100%
    }

    #main article {
        width: 100%;
        height: 420px;
    }
}